$ff: 'Montserrat', sans-serif;

$primaryDef: #be4eff;
$primaryHov: #b97cf9;
$white: #FFFFFF;
$black: #2B2B43;
$text: #fde022;
$desc: #44246d;
$accent: #bb22fd;
$fill: #2fe8f9;
$fillBlue: #F3F4FF;
$fillOrange: #FFF3ED;
$bg: #f0fdff;
$gradPin: linear-gradient(320deg, #FF28EA 0%, rgba(183, 72, 236, 0.651042) 40.55%, rgba(0, 224, 255, 0.17) 100%);
$gradPurp: linear-gradient(320deg, #9916FF 0%, rgba(255, 245, 0, 0.39) 100%);
$gradYell: linear-gradient(200deg, #FFFA79 0%, rgb(192, 109, 255) 100%);


$radiusSmall: 8rem;
$radius: 12rem;
$radiusRound: 16rem;
$radiusImage: 50%;

$shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

$transition: .2s all ease-in-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;