@import '../../../styles/vars';
@import '../../../styles/mixins';

.header {
    &__screen {
        background: rgba( 255, 255, 255, 0.2 );
        box-shadow: $shadow;
        backdrop-filter: blur( 5.5px );
        -webkit-backdrop-filter: blur( 5.5px );
        border-radius: 0 0 $radius $radius;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        display: flex;
        align-items: center;
        z-index: 3;
        justify-content: space-between;
        padding: 20rem;

    }
    &__logo img {
        width: 140px;
        height: auto;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 30rem;
        margin-right: 40rem;
        a {
            @include text($ff, 700, 22rem, 26rem, null);
            text-decoration: none;
            background: -webkit-linear-gradient(90deg, #9916FF 0%, rgba(255, 245, 0, 0.39) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
